body{
    background-color: black;
    color: white;
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 165px;
    /* width: 50vw; */
    /* margin: auto; */
    /* padding: 100px; */
}
h1{
    font-size: 50px;
}
img{
    float: left;
    height: 50vh;
    width: 33vw;
    border-radius: 20px;
    padding: 10px;
    /* transition: ; */
    animation: lefttori8 2s ease-out 0s 1 forwards;
}
@keyframes lefttori8 {
    /* transform: translateX(50%); */
    0%
    {
        /* float: right; */
        transform: translateX(181%);
        opacity: 0;
    }
    100%{
        /* float: left; */
        opacity: 1;
    };
}
div>p{
    /* float: right; */
    animation: lefttori8text 4s ease-out 0s 1 forwards;
    /* color: blue; */
}
@keyframes lefttori8text {
    0%
    {
        /* float: right; */
        transform: translateX(181%);
        opacity: 0;
    }
    /* 50%{
        opacity: 0.1;
    } */
    75%{
        opacity: 0.5;
    }
    100%{
        /* float: left; */
        opacity: 1;
    };
}